@media (max-width: 767.98px) { ... }
@media (max-width: 991.98px) { ... }
@media (max-width: 1199.98px) { ... }
@media (max-width: 1399.98px) { ... }
@media (max-width: 375px) { 
   
 }
@media (max-width: 575.98px) { 
    .advantages-item-2 img{
        width: 100%;
        margin: 0;
    }    
 .advantages-item-3 img{
    width: 100%;
}
.advantages-item-3 div:first-child{
    margin-bottom: 70px;
 }    
 }
 @media (min-width: 576px) and (max-width: 767.98px) { 
 
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
      
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    
 }
@media (min-width: 1400px) { 
   
 .advantages-item-3 img{
    width: 58%;
}

 .advantages-item-3 div:first-child{
    margin-bottom: 110px;
 } 
 }
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { 
   
 }
