/*------general styles-----*/
body{
    font-family: 'Bai Jamjuree';
}
a{
    text-decoration: none;
}
.my-fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}
  
.my-fs-2{
    font-size: calc(1.3rem + 0.9vw) !important;
}
  
.my-fs-3 {
    font-size: calc(1rem + 0.3vw) !important;
}
  
.my-fs-4 {
    font-size: calc(0.9rem + 0.3vw) !important;
}
.dl-button{
    color: #f5f6f8 !important;
    font-size: 18px;
    font-weight: 600;
    border-radius: 29px;
}
.dl-button-green{
    background-color: hsl(171, 66%, 44%);    
}
.dl-button-green:hover{
    background-color: #5dccbb;
}
.dl-button-blue{
    background-color: hsl(233, 100%, 69%);    
}
.dl-button-blue:hover{
    background-color: #8896ff;    
}
@media(min-width: 1200px){
    .my-fs-1 {
      font-size: 2.25rem !important;
    }
  
    .my-fs-2 {
      font-size: 2rem !important;
    }
  
    .my-fs-3 {
      font-size: 1.5rem !important;
    }
  
    .my-fs-4 {
      font-size: 1.25rem !important;
    }
}
/*------general styles-----*/

/*----header styles----*/
header{
    margin-top: 8rem;
    margin-bottom: 150px;
}
header .content h1{
    font-weight: 600;
    color:hsl(210, 10%, 33%);   
}
header .content p{
    font-weight: 400;
    color:hsl(201, 11%, 66%);    
}
/*----header styles----*/

/*----main styles----*/
.advantages-item h1 ,.tools-item h1{
    font-weight: 600;    
    color: hsl(210, 10%, 33%);
}
.advantages-item p, .tools-item p{
    font-weight: 400;    
    color:hsl(201, 11%, 66%);
}
.advantages-item-2{
    margin-bottom: 155px;
}
.advantages-item-2 img{
    max-width: 90%;
} 
.advantages-item-3 div:first-child p{
    margin: 0;
}
.tools-item-1{
    margin-bottom: 60px;
}
.tools-item-2 img{
    margin-bottom: 47px;
}
.advantages-item-3 div:first-child{
    margin-bottom: 6rem;
 }
 .advantages-item-3{
    margin-bottom: 5rem;
 }
 .tools-box{
    margin-bottom: 9.5rem;
 }
/*----main styles----*/

/*----footer styles----*/
.socialmedia-box{
    float: right;    
}
.companies{
    margin-bottom: 10rem;    
}
footer .content h1{
    font-weight: 600;
    color:hsl(210, 10%, 33%);
}
footer .content p{
    font-weight: 400;
    color:hsl(201, 11%, 66%);
}
footer .dl-links{
    margin-bottom: 4.5rem;
}
footer .logo img{
    width: 53px;
}
footer a{
    color:hsl(210, 10%, 33%) !important;    
}
.Links-Social-media a:hover{
    color: hsl(171, 66%, 44%) !important;
}
.Links-Social-media i:hover{
    color: hsl(171, 66%, 44%) !important;
}
.socialmedia-box i{    
    color:hsl(210, 10%, 33%);    
}
.Links-Social-media{
    background-color: #f5f6f8;
}
.Links-Social-media{
    padding: 0 5rem 0 5rem;
}
/*----footer styles----*/
